@import "tailwindcss";

@font-face {
  font-family: "BBH_Bartle";
  src: url("/public/assets/fonts/BBH_Bartle/BBHBartle-Regular.ttf");
}

@font-face {
  font-family: "BBH_Bogle";
  src: url("/public/assets/fonts/BBH_Bogle/BBHBogle-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "BBH_Bartle", Times, serif;
}

h2 {
  font-family: "BBH_Bogle", Times, serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button.black-variant {
  box-shadow: 4px 4px black;
  border: 1px solid black;
  color: black;
}

button.black-variant:active {
  box-shadow: 2px 2px black;
}

button.black-variant:active {
  box-shadow: 2px 2px black;
}

button.white-variant {
  box-shadow: 4px 4px white;
  border: 1px solid white;
  color: white;
}

button.white-variant:active {
  box-shadow: 2px 2px white;
}

@media (hover: hover) {
  button.white-variant:hover {
    background-color: rgba(255, 255, 255, 0.224);
  }
  button.black-variant:hover {
    background-color: rgba(0, 0, 0, 0.11);
  }
}
